@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bgOrange {
    background-color: #F5890D;
}

.ff {
    font-family: "Catamaran", sans-serif;
}

.text-orange {
    color: #EA512E;
}

.text-black1 {
    color: #1B0238;
}

.text-silver {
    color: #6B6B84;
}

.text-skin {
    background-color: #FDF6ED;
}

.bg-orange {
    background: #EA512E;
}

.bg-nskin {
    background-color: #FDEEE9;
}

.text-orange {
    color: #EA512E;
}

.bg-yellow {
    background: #f5890d !important;
}

.bg-skin {
    background-color: #FEE9CA;
}
.bg-blue{
    background-color: #091629;
}
.mt-10 {
    margin-top: 100px !important;
}

.mt-12 {
    margin-top: 120px;
}

.mt-15 {
    margin-top: 150px;
}

.mt-20 {
    margin-top: 200px;
}

.mt-24 {
    margin-top: 240px;
}

.mb-6 {
    margin-bottom: 60px;
}

.mb-7 {
    margin-bottom: 70px;
}

.mx-7 {
    margin-left: 100px;
}

.mx-6 {
    margin-left: 110px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-70 {
    padding-bottom: 70px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.py-6 {
    padding-top: 100px;
}

.btn1 {
    background: #EA512E;
    width: 140px;
    height: 45px !important;
    font-weight: 16px;
    position: relative;
    font-size: 16px !important;
    font-weight: 500;
    border-radius: 10px !important;
    padding: 12px 35px;
    z-index: 1;
}

.btn1:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    transform: scaleY(0);
    transform-origin: top center;
    background: #F5890D;
    z-index: -1;
    transition: transform 0.7s;
}

.btn1:hover::after {
    background: #F5890D;
    position: absolute;
    transform: scaleY(1);
}

.btn1:hover {
    background-color: #EA512E;
}


.bgOrange1 {
    background-color: #EA512E;
    position: relative;
}

.bgOrange1:hover {
    background-color: #F5890D;
}

/* Banner Section start */
.banner {
    width: 100%;
    height: auto;
    background: url(../img/main-banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.shape-1 {
    top: 4%;
    animation: moving infinite 2s linear alternate;

}

.shape-2 {
    top: 4%;
    left: 40%;
    animation: moving2 infinite 2s linear alternate;
}

.shape-3 {
    top: 60%;
    z-index: 99;
    animation: moving infinite 2s linear alternate;
}

.shape-4 {
    top: 80%;
    right: 42%;
    animation: moving4 infinite 2s linear alternate;
    z-index: 1;
}

.cloud {
    top: 80%;
    background-size: cover;
}

.heading1 {
    top: 29%;
}

/*  Banner Section End */


/* Kindergarten Section Start */
.who-we-are-content span,
.popular-class span,
.Childcare span,
.meet span,
.testimonial span,
.event span,
.news span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
    font-size: 16px;
}

h4,
.meet h3 {
    color: #1b0238;
    font-family: Catamaran;
    font-weight: 600;

}

.boy-img::before {
    position: absolute;
    content: "";
    background-color: #EA512E;
   
    width: 100%;
   height: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    animation: move-circle 10s linear infinite alternate forwards;
}

.boy-img img {
    padding: 15px;
    z-index: 1;
  

}

.Kindergarten .boy-img::after {
    position: absolute;
    content: "";
    background-color: #F5890D;
    top: 0;
    left: 0;
    right: 0;
    width:  100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: move-circle 20s linear infinite alternate forwards;
}

p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.who--we{
    position: absolute;
    
}
.who-we-are-content li span {
    
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #ea512e;
    color: #ffffff;
    text-align: center;
    padding-top: 2px;
    margin-right: 6px;
    font-weight: bold;
    border-radius: 50%;
    font-size: 18px;
    font-family: "Catamaran", sans-serif;
}

.who-we-are-content li {
    color: #1B0238;
    font-weight: 500;
}

.Kindergarten .shape-5 {
    right: 6%;
    z-index: 1;
    animation: moving3 infinite 2s linear alternate;
}

/* Kindergarten Section End */

/*  Popular Section Start */

.popular-class {
    transition: all 0.5s ease-in-out;
}

span1,
.news span1 {
    color: #EA512E !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px;
    font-weight: 500 !important;
}

.popular-class ul {
    border-top: 2px dotted #ea512e;
    padding-top: 5%;
    font-family: sans-serif !important;
}

.popular-class .card .card-img-top {
    transition: all 0.5s ease-in-out;

}

.popular-class .card .card-title {
    transition: all 0.5s ease-in-out;
}



.popular-class .card:hover .card-img-top {
    transform: scale(1.2) rotate(3deg);

}

.popular-class .card:hover .card-title {
    color: #ea512e;
}

.popular-class .card .phover {
    transition: all 0.5s ease-in-out;
}

.popular-class .card:hover .phover {
    background-color: #F5890D !important;
    transition: all 0.5s ease-in-out;
}

/*  Popular Section End */

/* Childcare Section Start */
.Childcare .vshape1 {
    position: absolute;
    top: -12%;
    left: 1.2%;
}

.Childcare .vshape2 {
    position: absolute;
    top: 79%;
    left: 1.2%;
}

.Childcare .vshape3 {
    position: absolute;
    top: 1%;
    right: 0%;
    z-index: 1;
}

.Childcare .number {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    color: #000000;
    border: 3px solid #fff;
    outline: 1px solid #d3f5fe;
    line-height: 24px;
    font-size: 25px;
    font-family: "Catamaran", sans-serif;
    transition: all 1s;

}

.Childcare .number:hover {
    background-color: #EA512E !important;
    color: #fff;
    border: 3px solid #fff;
    outline: 1px solid #EA512E;
}

/* Childcare Section End */


/* Meet Section Start */
.meet {
    width: 100%;
    height: auto;
    background: url(../img/meetbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
    z-index: -1;

}

.meet .social {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -80px;
    margin-right: 5px;
    transition: all 0.5s ease-in;
    z-index: 3;
}

.meet .teacher:hover .social {
    position: absolute;
    margin-bottom: 10px;
    transition: 0.5s ease 0s;


}

.meet .design::before {
    position: absolute;
    content: " ";
    width: 330px;
    height: 330px;
    background-color: #EA512E;
    border-radius: 50%;
    
    z-index: 1 !important;
    animation: move-circle 20s linear infinite alternate forwards;
}

.meet img {
    position: relative;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    
    z-index: 2 !important;
}

.meet .social ul li {
    width: 30px;
    height: 30px;
    background-color: #EA512E;
    border-radius: 50%;
    transition: all 0.3s ease-in-out 0s;
}

.meet .social ul li a {
    color: #fff;
    line-height: 30px;
}

/* Meet Section End */

/* Testimonials Section Start */
.testimonial .card:hover .quote  {
    background: #ea512e !important;
    color: #fff !important;
}
.card{
    background: #fee9ca
}
.quote{
    color: #ea512e;
    background: #fff;
    padding: 6px 17px 6px 14px;
    transition: 0.3s ease;}
.pt{
    line-height: 25px;
    color: #6b6b84;
    font-weight: 400;
    font-size: 15px;
}
.text-fa{
    font-family: 'Roboto',sans-serif,FontAwesome;
}
.testimonial p{
    margin-bottom: 0px;
}
.prev,.next{
    opacity:0;
    transition:opacity 1000ms;
}

.nextbtn{
    color: white;
    background: #ea512e;
    border-radius: 50%;
    transition: 0.3s;}
.testimonial .row>*{
    padding-left: 0px;
}
.prev:hover{
    background: #ff9a27 !important;
}
.next:hover{
    background: #ff9a27 !important;
}
.slider-main{
    transition: 0.6s;
}

.testimonial
:hover .prev{
    opacity: 1;
}
.testimonial:hover .next{
    opacity: 1;
} 
/* Testimonials Section End

/* Events Section Start */
.event {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/event-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
}

.event h1 {
    font-size: 80px;
    color: #ea512e;
    margin-bottom: 0;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}

.event .sfs {
    font-size: 25px;
}

/* Events Section End */

/* News Section start */
.news ul li {
    font-family: "Catamaran", sans-serif;

}
.news .card{
    border-radius: 10px;
}

.news .card .card-img-top {
    transition: all 0.5s ease-in-out;

}

.news .card .card-title {
    transition: all 0.5s ease-in-out;
}

.news .card:hover .card-img-top {
    transform: scale(1.2) rotate(3deg);
    
}

.news .card:hover .card-title {
    color: #ea512e;
}

.news .card .phover {
    transition: all 0.5s ease-in-out;
}

.news .card:hover .phover {
    background-color: #F5890D !important;
    transition: all 0.5s ease-in-out;
}

/* News section End */

/* Footer Section Start */
.footer {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),url(../img/footer-bg.jpg);
    background-position: center;
    background-size: cover;
    
}

.footer .social ul li {
    width: 35px;
    height: 35px;
    background-color: #EA512E;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    margin-right: 10px;
    transition: 0.3s ease;
}

.footer .social ul li a{
    color: #fff ;
    line-height: 30px;
    
}
.footer .social ul li:hover{
    background-color: #F5890D ;
}
.footer .up{
    transition: 0.3s ease;
}
.footer .up:hover{
    transform: translateY(-4px);
    transition:  0.3s ease  ;
}
.footer h4{
    font-size: 25px;
    position: relative;
    color: #ffffff;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}
.footer hr{
     width: 50px;
     border: 1px solid #ea512e;
     color: #ea512e;
     opacity: 1;
}
.footer ul li h6{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 20px;
}
.uline{
    font-size: 15px;
    transition: all 0.3s ease;
    position: relative;
}
.uline:hover{
    color: #ea512e;
    cursor: pointer;
}
.uline:hover::before{
    width: 100%;
}
.uline::before{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    height: 1px;
    width: 0px;
    background: #ea512e;
    transition: 0.5s ease;
}
.photo ul li img{
    width:  100px;
    height: 100px;
}
.footer .gallery{
    
    display: grid;
    grid-template-columns: 100px 100px 100px;
   gap: 10px;
}

.img{
    position: relative;

}
.footer .image img{
    width: 100%;
    height: 100%;
    
}
.img-h{
    transition: 0.6s all ease;
}
.img:hover .img-h{
    transform: scale(1.1)
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    background-color: red;
    transition: 0.6s all ease;
}

.overlay:hover{
    opacity: 0.4;
    transition: 0.6s all ease;
    
}

/* Footer Section End */

@keyframes moving {
    from {
        left: 0%;
    }

    to {
        left: 1.5%;
    }
}

@keyframes moving2 {
    from {
        left: 40%;
    }

    to {
        left: 43%;
    }
}

@keyframes moving3 {
    from {
        left: 85%;
    }

    to {
        left: 88%;
    }
}

@keyframes moving4 {
    from {
        top: 80%;

    }

    to {
        top: 83%;
    }
}

@keyframes move-circle {

    0%,
    100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }

    28% {

        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}



/* Responsive start */
@media screen and (max-width:991px) {

}

@media screen and (max-width:767px) {
    .mt-15{
        margin-top: 40px;
      }
      
}

@media screen and (max-width:414px) {

    .event .fs-md {
        font-size: 40px;
    }
    .mt-15{
        margin-top: 40px;
      }  
      .Kindergarten .mt-10{
        margin-top: 5px;
      }

}



@media screen and (max-width:316px) {
  .mt-15{
    margin-top: 40px;
  }  


}